#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;

	#modalWrapper {
		width: 496px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--gray-200);
		border-radius: 16px;

		#modalContents {
			width: 448px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin: 24px;
		}
	}
}
