.modalHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalTitle {
  font-size: var(--20px);
  font-weight: 700;
}

.closeIcon {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.searchInput {
  height: 48px;
  border: 1px solid var(--gray-700);
  border-radius: 10px;
  background-color: transparent;
  background-image: url("/src/assets/ic_search.png");
  background-size: 24px 24px;
  background-position: 12px center;
  background-repeat: no-repeat;
  color: var(--gray-900);
  padding: 0 0 0 44px;
}

.modalSubtitle {
  font-size: var(--18px);
  font-weight: 700;
}

.companyListWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.companyLogo {
  background-color: var(--gray-900);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.companyName {
  font-size: var(--16px);
  font-weight: 500;
}

.companyCategory {
  font-size: var(--14px);
  font-weight: 400;
  color: var(--gray-700);
}

.cancelSelectButton {
  cursor: pointer;
  width: 104px;
  height: 48px;
  border: 1px solid var(--gray-700);
  border-radius: 10px;
  background-color: transparent;
  color: var(--gray-700);
}

.unclickedButton {
  cursor: pointer;
  width: 104px;
  height: 48px;
  border: 1px solid var(--prime-orange);
  border-radius: 10px;
  background-color: transparent;
  color: var(--prime-orange);
}

.clickedButton {
  cursor: pointer;
  width: 104px;
  height: 48px;
  border: 1px solid var(--gray-800);
  border-radius: 10px;
  background-color: transparent;
  color: var(--gray-800);
}

.clickedButtonContents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.checkIcon {
  width: 24px;
  height: 24px;
}

.error {
  color: var(--red-error);
  font-size: var(--16px);
}

.blankSpace {
  height: 5px;
}
